<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Codecool</title>
    </head>
    <body>
        <p><button><a href='/mentors'>mentors</a></button></p>
        <p><button><a href='/all-school'>all-school</a></button></p>
        <p><button><a href='/mentors-by-country'>mentors-by-country</a></button></p>
        <p><button><a href='/contacts'>contacts</a></button></p>
        <p><button><a href='/applicants'>applicants</a></button></p>
        <p><button><a href='/applicants-and-mentors'>applicants-and-mentors</a></button></p>    
    </body>
</html>