<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Codecool</title>
    </head>
    <body bgcolor="#d0cc95" link="#4d4d00" vlink="#4d4d00" style="font-size:140%; font-family:monospace;">
        <table border="2" bgcolor="#f3eba5">
            {% for title in table_head %}
            <th style="color: #000000" align="center">{{ title }}</th>
            {% endfor %}
            {% for datas in data_list %}
            <tr>
                {% for data in datas %}
                <td style="color: #4d4d00">{{ data }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <p><button><a href='/'>Back</a></button></p>
    </body>
</html>